.gallery_container {
    display: flex;
}

.gallery_loading {
    background: repeating-linear-gradient(to right, var(--gray) 0%, white 50%, var(--gray) 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
}

.thumbnail {
    border: none;
    object-fit: cover;
}